.row {
  animation: fadeIn;
  animation-duration: 2s; /* don't forget to set a duration! */
}

.card.my_portfolio:hover {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.portfolio {
  text-align: center;
  margin-top: 0px;
  padding: 90px 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to left , cyan, pink);
}

h2.portfolio-heading {
  margin-top: 0;
  padding: 20px;
  font-family: cursive;
  animation: bounceIn;
  animation-duration: 2s; /* don't forget to set a duration! */
}

#portfolio.container {
  width: 35vw;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #portfolio.container {
    width: 50vw;
    height: 100%;
  }
}
